In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('./samples/pet.label.csv')
df.head(10)

,보호자명,환자명,품종코드,생일,성별코드,검사일,병원,주진단코드,진단코드,SE
0,김소야*7,코코,91.0,2001-05-03 00:00:00,MN,2018-07-04 10:51:01.657,D,2078,"2078,만성신질환, 신장결석, 방광염","S) 식욕부진, 기력저하, 눈 O) - 2일동안 식욕이 거의 없어서 보호자분..."
1,이지은*6,힘찬이,119.0,2007-06-04 00:00:00,MN,2018-04-26 11:33:10.467,D,2244,"2244,담낭점액종","S) 다음다뇨, 식욕부진 O) - 최근들어 다음다뇨 증상과 2~3일전부터는 ..."
2,홍성미,비쥬,499.0,2004-01-01 00:00:00,FS,2018-07-20 14:48:07.967,D,2082,"2082,만성신질환, 부비동염","[오전 통화 by 관중] - 일주일동안 밥안먹고, 활력저하됨 - 보호자님 복부촉..."
3,김래경,세순이,107.0,2001-08-01 00:00:00,FS,2017-06-16 14:56:11.267,D,2087,"2087,단백뇨, 쿠싱, 빈혈",1. 쿠싱약 안먹고 와서 쿠싱검사는 28일에 하기로 함 2. 흉방에서 CVC 허탈...
4,김지현*6,효,125.0,2009-11-05 00:00:00,MN,2018-02-28 10:26:20.280,D,2081,"2081,방광결석","S) 건강검진 진행함 O) 1. 혈액검사 - 간수치 상승(ALP, ALT ..."
5,박수진,티키,598.0,2005-05-04 00:00:00,FS,2017-10-08 14:42:05.817,D,2244,"2244,지방간, 췌장염","538,300원 선결제 하셨습니다. - 송이 S) 식욕부진, 구토 O) ..."
6,서주현,돼지,130.0,2004-03-08 00:00:00,MN,2018-02-14 11:16:16.640,D,2231,"2231,방광결석, 간비대","S) 체중감소, 건강검진 O) - 혈액검사 : 빈혈 진행중(33%) - 염..."
7,오주영,달콩이,128.0,2004-06-06 00:00:00,MN,2018-04-21 16:34:52.220,D,2177,"2177,갑기저, 고혈압, 방광염, 쿠싱","667,060 미수금 발생 - 휘린 [한방진료] -후지 근육 강화를 위한 ..."
8,정여연*7,유자,91.0,2009-10-28 00:00:00,FS,2018-02-11 11:01:38.743,D,2092,2092,내추럴발란스캔 결제완료후 두고 가심 18.02.12일에 가져가실예정 효정 ...
9,강보람,콩쥐,125.0,2005-03-31 00:00:00,FS,2018-06-19 14:04:28.020,D,2196,2196,S) - 특이사항 없음. - 잘 지냄. O) - 청진 시 NRF -...

In [3]:
df.groupby('병원').count()

    보호자명  환자명  품종코드   생일  성별코드  검사일  주진단코드  진단코드   SE
병원
D    999  999   982  993   996  999    960   987  992

In [4]:
df.groupby('주진단코드').count()

                          보호자명  환자명  품종코드  생일  성별코드  검사일  병원  진단코드  SE
주진단코드
2001                        53   53    51  53    53   53  53    53  53
20012002                     1    1     1   1     1    1   1     1   1
2002                         4    4     4   4     4    4   4     4   4
2004                         6    6     6   6     6    6   6     6   6
2005                         3    3     3   3     3    3   3     3   3
...                        ...  ...   ...  ..   ...  ...  ..   ...  ..
중성화수술/유치발치                   4    4     4   4     4    4   4     4   4
추가 검사 진행 원하지 않으심             1    1     1   1     1    1   1     1   1
특이사항 없음/추가 검사,감별 진행되지 않음     1    1     1   1     1    1   1     1   1
특이사항없음                       4    4     4   4     4    4   4     4   4
혈액검사만 진행 (특이사항 없음)           1    1     1   1     1    1   1     1   1

[192 rows x 9 columns]

In [5]:
df = df.groupby('주진단코드').filter(lambda g: len(g) > 10)
df.groupby('주진단코드').count()

       보호자명  환자명  품종코드  생일  성별코드  검사일  병원  진단코드  SE
주진단코드
2001     53   53    51  53    53   53  53    53  53
2021     14   14    14  14    14   14  14    14  14
2043     37   37    37  37    37   37  37    37  37
2046     15   15    14  15    15   15  15    15  15
2082     41   41    40  41    41   41  41    41  41
2087     69   69    67  69    68   69  69    69  69
2091     17   17    17  17    17   17  17    17  17
2092     21   21    21  21    21   21  21    21  21
2095     14   14    13  14    14   14  14    14  14
2101     22   22    22  22    22   22  22    22  22
2116     21   21    21  21    21   21  21    21  21
2170     68   68    68  66    68   68  68    68  67
2181     12   12    12  12    12   12  12    12  12
2244     20   20    19  20    20   20  20    20  20
2245     12   12    12  12    12   12  12    12  12
건강검진     18   18    17  18    18   18  18    18  18
중성화      11   11    11  11    11   11  11    11  11
중성화수술    21   21    21  21    21   21  21    21  20

In [6]:
def reduce_codes(x):
    x = str(x)
    x = x.strip(r' \t\n')
    x = re.sub(r'\s+', ' ', x)
    x = re.sub(r'중성화수술','neutral', x)
    x = re.sub(r'건강검진','test', x)
    x = re.sub(r'XX|X|x|-|이상없음','normal', x)
    x = re.sub(r'[.]0','', x)
    return '' if x.isspace() or len(x) < 3 else x
df['주진단코드'] = df['주진단코드'].apply(lambda x: reduce_codes(x))
df = df[(df['주진단코드'] != '') & (df['주진단코드'] != 'nan')]

In [7]:
df[df['주진단코드'] == '2047'] = '2043'
df[df['주진단코드'] == '2048'] = '2043'

In [8]:
def reduce_texts(x):
    x = str(x)
    x = x.strip(r' \t\n')
    x = re.sub(r'\s+', ' ', x)
    x = re.sub(r'[0-9]|[$-_@.&+!*?;:~\(\)\[\]<>/\'"\\]+', '', x)
    return '' if x.isspace() or len(x) < 8 else x
df['SE'] = df['SE'].apply(lambda x: reduce_texts(x))
df = df[(df['SE'] != '') & (df['SE'] != 'nan')]

In [9]:
df.groupby('병원').count()

    보호자명  환자명  품종코드   생일  성별코드  검사일  주진단코드  진단코드   SE
병원
D    484  484   475  482   483  484    484   484  484

In [10]:
df.groupby('주진단코드').count()

         보호자명  환자명  품종코드  생일  성별코드  검사일  병원  진단코드  SE
주진단코드
2001       53   53    51  53    53   53  53    53  53
2021       14   14    14  14    14   14  14    14  14
2043       37   37    37  37    37   37  37    37  37
2046       15   15    14  15    15   15  15    15  15
2082       41   41    40  41    41   41  41    41  41
2087       69   69    67  69    68   69  69    69  69
2091       17   17    17  17    17   17  17    17  17
2092       21   21    21  21    21   21  21    21  21
2095       14   14    13  14    14   14  14    14  14
2101       22   22    22  22    22   22  22    22  22
2116       21   21    21  21    21   21  21    21  21
2170       67   67    67  65    67   67  67    67  67
2181       12   12    12  12    12   12  12    12  12
2244       20   20    19  20    20   20  20    20  20
2245       12   12    12  12    12   12  12    12  12
neutral    20   20    20  20    20   20  20    20  20
test       18   18    17  18    18   18  18    18  18
중성화        11   11    11  11    11   11  11    11  11

In [11]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(df['주진단코드'])
encoded = encoder.transform(df['주진단코드'])
df['ID'] = encoded
df.head(10)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.1, random_state=900)

In [ ]:
train_df.groupby('병원').count()

In [ ]:
train_df.groupby('ID').count()

In [ ]:
train_df.to_csv('train.csv', index=None)
test_df.to_csv('test.csv', index=None)